<div class="projectMedia">
  <img src={{imageUrl}} title={{imageTitle}} />
</div>
<div class="projectTitle">
  {{ title }}
</div>
<div class="Description">
  {{! This variable needs triple brackets because it's actually html, not just a string}}
  {{{ description }}}
</div>